include dash_ace_persistent/dash_ace_persistent.min.js
include dash_ace_persistent/dash_ace_persistent.min.js.map
include dash_ace_persistent/metadata.json
include dash_ace_persistent/package-info.json
include README.md
include LICENSE
include package.json
